<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Jdev Spring Boot</title>

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  


</head>
<body>
	<h1>Menu de Opões</h1>
	<p><a href="/cadastrousuario"> Usuarios </a></p>	
	<p><a href="/cadastropessoa"> Funcionários </a></p>
	<p><a href="/cadastrofornecedor">Fornecedores </a></p>
	<p><a href="/cadastroloja"> Lojas </a></p>
	<p><a href="/cadastroprazos"> Prazos </a></p>
	<p><a href="/cadastrosituacao"> Situação </a></p>
	<p><a href="/cadastronotafiscal"> Nota Fiscal </a></p>
	<p><a href="/cadastrocontasapagar"> Contas a Pagar </a></p>
    
	
</body>
</html>